/* 4 - external*/
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* id */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-title {
    border-bottom: 4px solid orangered;
}

/* nome de cores */
.color-name {
    color: green;
}

/* hexadecimal */

.hex {
    color: #363636;
}

/* RGB */
.rgb {
    color: rgb(35, 121, 57);
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 2845, 0.5);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

/* BACKGROUND COLOR */
.back-color {
    background-color: #363636;
}

/* BACKGROUND OPACIDADE */
.bg-opacity {
    background-color: #363636;
    opacity: 0.3;
}
.bg-opacity-2 {
    background-color: #273c5c;
    color: #161515;
    opacity: 0.5;
}