/* 4 - external*/
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* id */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-title {
    border-bottom: 4px solid orangered;
}